.silk-add {
  background-image: url(/fam/add.png) !important
}
.silk-edit {
  background-image: url(/fam/application_edit.png) !important
}
.silk-delete {
  background-image: url(/fam/delete.png) !important
}
